.adart-page {
    background-color: #D7A86E;
    padding: 20px;
}

.adart-header {
    display: block;
    justify-content: space-between; /* Memastikan konten header terpisah */
    align-items: center;
}

.add-button {
    background-color: #D7A86E;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    text-align: center;
}

.bab-list {
    margin-top: 30px;
}

.bab-item {
    background-color: #a46d44;
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
