.register-container {
  max-width: 350px;
  margin: 80px auto;
  background-color: #f5d8b3;
  border-radius: 20px;
  padding: 40px 40px;
  text-align: center;
}

.register-container h2 {
  font-size: 24px;
  font-weight: bold;
  color: #5c2f0d;
  margin-bottom: 25px;
}

.register-container .input-group {
  margin-bottom: 20px;
  width: 95%;
}

.register-container label {
  color: #5c2f0d;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.register-container input[type="text"],
.register-container input[type="password"] {
  background-color: #8b5e2e;
  color: #fff;
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
}

.register-container button {
  width: 120px;
  margin-top: 15px;
  padding: 10px;
  background-color: #8b5e2e;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #452306;
}

.register-container .message {
  text-align: center;
  color: red;
  margin-top: 10px;
}

body {
  background-color: #e0b97d;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
