.pengumuman-title {
  
  font-size: 18px;
  font-weight: 600;
}

.pengumuman-date {
  font-size: 13px;
  color: #a67c52;
}

.pengumuman-card p {
  margin: 0;
  font-size: 14px;
  color: #5e3e2d;
  line-height: 1.5;
}
